<mat-toolbar>
	<button mat-icon-button (click)="drawer.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Rook's Roulette</span>
	<img class="rich-rook" src="assets/rook.png">
	<div class="button-group">
		<button *ngIf="postCount > 0" (click)="back()" mat-icon-button>
			<mat-icon>arrow_back</mat-icon>
		</button>
		<button class="wheel-button" color="primary" mat-raised-button (click)="spinWheel()">
			Spin The Wheel!
		</button>
		
		<button *ngIf="postCount > 0" (click)="spinWheel()" mat-icon-button>
			<mat-icon>arrow_forward</mat-icon>
		</button>
	</div>
	<button *ngIf="currentPost >= 0" class="info-button" mat-icon-button 
		(click)="goToSource()" matTooltip="Open In e621">
		<mat-icon>pets</mat-icon>
	</button>
</mat-toolbar>


<!-- Options Menu -->
<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
	<mat-drawer #drawer class="options-menu" [mode]="'over'">
		<div class="options-container">
		
			<mat-card>
				<mat-card-header>
					<div mat-card-avatar><mat-icon>loyalty</mat-icon></div>
					<mat-card-title>Tags</mat-card-title>
				</mat-card-header>
				
				<mat-card-content>
					<ul>
						<li *ngFor="let tag of tags">{{ tag }} <i class="fa-solid fa-xmark"></i></li>
					</ul>
				</mat-card-content>
				<mat-card-actions>
					<mat-form-field appearance="fill">
						<mat-label>New Tag</mat-label>
						<input #newTag matInput (keyup.enter)="addTag(newTag)">
					</mat-form-field>
					<button mat-button>+</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</mat-drawer>
	
	<!-- Main Container -->
	<mat-drawer-content class="drawer-content">
		<div class="main-container">
			<div class="img-container">
				<h3 *ngIf="errorText">{{ errorText }}</h3>
				<img class="image" *ngIf="!isVideo()" [src]="getImage()">
				<video *ngIf="isVideo()" class="image" autoplay loop preload="auto" controls>
					<source [src]="getImage()">
				</video>
			</div>
		</div>
	</mat-drawer-content>
</mat-drawer-container>