.rich-rook {
	width: 50px;
	margin-left: 15px;
}

.drawer-container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.drawer-content {
	display: flex;
}

.options-container {
	padding: 10px;
}

::ng-deep .mat-card-header-text {
	margin-left: 0px !important;
}

.main-container {
	display: flex;
	flex-direction: column;
	padding: 15px;
	flex: 1 1 auto;
	overflow: hidden;
}

.img-container {
	display: flex;
	flex: 1;
	overflow: hidden;
	
}

.image {
	max-height: 100%;
    width: 100%;
    object-fit: scale-down;
    margin-bottom: auto;
}

.button-group {
	width: 250px;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
	z-index: 7;
}

.info-button {
	margin-left: auto;
}

@media all and (max-width: 650px) {
	.button-group {
		bottom: 0;
		margin-bottom: 20px;
	}
}
